body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
}

.container-fluid{
    text-align: center;
    margin-top: 15px;
} 

.card{
    margin-left: 5px;
    text-align: center;
    transition: 0.3s;
}

.card:hover{
    transform: translate(10px, 10px)
}

.card > img{
    height: 25rem;
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s ;
}













      
          