body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
}

 .card{
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    
} 

.card > img{
    height: 25rem;
    object-fit: cover;
}

#row1{
    text-align: center;
}